@media (max-width: 320px) {
    .forgot-password-form-container-1,
    .forgot-password-form-container-2{
        width: 90%;
        padding: 5%;
    }

    .forgot-password-container{
        width: 250px;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    .forgot-password-form-container-1,
    .forgot-password-form-container-2{
        width: 90%;
        padding: 5%;
    }

    .forgot-password-container{
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .forgot-password-form-container-1,
    .forgot-password-form-container-2{
        padding: 40px;
    }

    .forgot-password-container{
        width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .forgot-password-form-container-1,
    .forgot-password-form-container-2{
        padding: 40px;
    } 

    .forgot-password-container{
        width: 300px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .forgot-password-form-container-1,
    .forgot-password-form-container-2{
        padding: 40px;
    }

    .forgot-password-container{
        width: 300px;
    }
}

@media (min-width: 1441px) {
    .forgot-password-form-container-1,
    .forgot-password-form-container-2{
        padding: 40px;
    }

    .forgot-password-container{
        width: 300px;
    }
}

.forgot-password-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9% auto;
}

.forgot-password-form-container-1,
.forgot-password-form-container-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    align-items: center; 
}

.forgot-password-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.forgot-password-form-control-password{
    padding: 2%;
    font-size: 16px;  
    border-radius: 5px 0 0 5px;
}

.forgot-password-live-validate .form-text{
    display: block !important;
}

.forgot-password-live-validate .valid{
    color: green !important;
}

.forgot-password-live-validate .invalid{
    color: red !important;
}

.forgot-password-form-control-password-button{
    border-color: rgb(220, 220, 220);
    background-color: transparent;
}

.forgot-password-form-control-password-button:hover,
.forgot-password-form-control-password-button:focus{
    border-color: rgb(220, 220, 220) !important;
    background-color: rgb(170, 170, 170) !important;
}

.forgot-password-form-button{
    margin-top: 20px;
    width: 100%;
    padding: 2%;
    font-size: 16px;
    border-color: green;
    background-color: green;
    color: white;
}